OSUNY_API_HOST=     # L'url d'une instance Osuny, sans https://
OSUNY_API_TOKEN=    # Le token secret d'une app
OSUNY_WEBSITE_ID=   # L'identifiant du site
IDENTIFIER=         # Un identifiant unique pour les imports